Flask==1.0.2
Flask-SQLAlchemy==2.3.2
SQLAlchemy==1.2.5
PyMySQL==0.8.0
marshmallow==3.0.0b9
flask-marshmallow==0.9.0
marshmallow-sqlalchemy==0.13.2
flasgger==0.8.1

# lib providing common components for GT Journey APIs
# mirrored from GT GitHub Ent to GitHub.com for anon git access
# git+https://github.com/gtrnoc/gtjourney-api-lib-python.git@0.1.0
git+https://github.com/pypa/pip.git@19.1.1

# WSGI server for production deployment
gunicorn==19.7.1

# testing
pytest==3.5.0
